@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(135deg, #b7d7e8, #86a1c9);
}

.bg {
  background: url(https://images.unsplash.com/photo-1447684808650-354ae64db5b8?q=80&w=1467&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat center center/cover;
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100vw + 20px);
  height: calc(100vh + 20px);
  z-index: -1;
  filter: blur(15px); /* Start with some blur */
  transition: filter 1.5s ease-out; /* Smooth transition for the blur effect */
}

.loading-text {
  font-size: 50px;
  color: #a31010;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the text */
  z-index: 1; /* Make sure the text appears above the background */
  transition: opacity 1s ease-in-out;
}
